<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <div class="card card-body bg-light">
        <i class="fa fa-shopping-bag fa-2x"></i>
        <p>Shop with us</p>
        <a href='Register' class="btn btn-primary btn-block mb-2 mt-2 p-3">Register</a>
        <a href="Login" class="btn btn-secondary btn-block p-3">Login</a>
      </div>


      <div class="btn-group btn-group-justified mt-4">
        <a href="Admin/AdminLogin" class="btn btn-primary p-3"><i class="fa fa-suitcase"></i> Boss Login</a>
        <a href="Seller" class="btn btn-warning p-3"><i class="fa fa-shopping-basket"></i> Sell with us</a>
      </div>
    </div>

  </div>
</div>